<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916946576287-56vdkqt8c2gkdr8n1ub07kk23s7684ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916946576287-56vdkqt8c2gkdr8n1ub07kk23s7684ce</string>
	<key>API_KEY</key>
	<string>AIzaSyCTDAuHo7j1Y9a9LwKfeSGTFuYLXmlDbxY</string>
	<key>GCM_SENDER_ID</key>
	<string>916946576287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-10527</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-10527.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916946576287:ios:c4431fea6cfd6dab3093aa</string>
</dict>
</plist>